<mat-card class="task-card">
    <mat-icon class="delete-task">cancel</mat-icon>
    <mat-card-header class="task-header">
        <mat-card-title>{{task.name}}</mat-card-title>
        <mat-card-subtitle class="task-subtitle">
            <input matInput [matDatepicker]="picker" placeholder="Due date" [(ngModel)]="task.dueDate">
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content class="mg-tb1">
        <div cdkDropList [cdkDropListData]="task.subtasks" (cdkDropListDropped)="drop($event)">
            <div class="box" *ngFor="let subtask of task.subtasks" cdkDrag>
                <mat-checkbox [checked]="subtask.isCompleted" (change)="markAsComplete($event.checked, subtask)"></mat-checkbox>
                <p [ngClass]="subtask.isCompleted ? 'task-completed' : ''">{{subtask.name}}</p>
                <mat-icon class="icon-delete">delete</mat-icon>
            </div>
        </div>
    </mat-card-content>
    <mat-form-field class="form-field">
        <mat-label>Add subtask</mat-label>
        <input matInput type="text" [(ngModel)]="subtaskName" (keyup.enter)="addSubtask()">
        <button matSuffix mat-icon-button aria-label="Add Subtask" (click)="addSubtask()">
            <mat-icon class="green">add_circle</mat-icon>
        </button>
    </mat-form-field>
</mat-card>