<mat-card [ngStyle]="{background: task.bgColor}">
    <div class="card-control">
        <app-color-picker class="card-color-picker" [color]="task.bgColor" (event)="setTaskColor($event)" [width]="width"></app-color-picker>
        <mat-icon class="delete-task">cancel</mat-icon>
    </div>
    <mat-card-header class="task-header">
        <mat-card-title class="invert-color">{{task.name}}</mat-card-title>
        <mat-card-subtitle class="task-subtitle">
            <input class="invert-color" matInput [matDatepicker]="picker" placeholder="Due date" [(ngModel)]="task.dueDate">
            <mat-datepicker-toggle class="invert-color" matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content class="mg-tb1 subtasks-list">
        <div class="mg-lr1" cdkDropList [cdkDropListData]="task.subtasks" (cdkDropListDropped)="drop($event)">
            <div class="box" *ngFor="let subtask of task.subtasks" cdkDrag [ngStyle]="{background: task.bgColor}">
                <mat-checkbox [checked]="subtask.isCompleted" (change)="markAsComplete($event.checked, subtask)"></mat-checkbox>
                <p class="wrap-text invert-color" [ngClass]="subtask.isCompleted ? 'task-completed' : ''">{{subtask.name}}</p>
                <mat-icon class="icon-delete font-icon">delete</mat-icon>
            </div>
        </div>
    </mat-card-content>
    <mat-form-field class="form-field">
        <mat-label class="invert-color">Add subtask</mat-label>
        <input matInput type="text" [(ngModel)]="subtaskName" (keyup.enter)="addSubtask()">
        <button matSuffix mat-icon-button aria-label="Add Subtask" (click)="addSubtask()">
            <mat-icon class="green font-icon">add_circle</mat-icon>
        </button>
    </mat-form-field>
</mat-card>